{# Unify template for displaying custom page /about_us #}

<body>

    <div class="wrapper">

        {% include directory ~ '/partials/header.html.twig' %}


        {{ page.help }}
        {{ title_prefix }}
        {{ page.content }}
        {{ title_suffix }}

    </div>


    {% include directory ~ '/partials/footer.html.twig' %}

</body>

