<div class="breadcrumbs">
    <div class="container">
        <div class="pull-left">
            {{ page.page_title }}
        </div>
        <ul class="pull-right">
            {{ page.breadcrumb }}
        </ul>
    </div>
</div>