
/*Page Content Custom Style*/

.news-v3, .content{
    color: #333;
    font-size: 18px;
}

.block-system-main-block{
    color: #595957;
    font-size: 18px;
}

/*Page Sidebar Custom Style*/

.region-sidebar-right{
    font-size: 14px;
}

/*Page Title Custom Style*/

.breadcrumbs h1 {
    color: #006633;
    font-size: 28px;
    margin-top: 8px;
}

.shippi_color_1 {
    background-color: #ff0066;
}

.shippi_color_2 {
    background-color: #006633;
}

.easy-block-v1  img{
    height: auto;
}

.site-slogan h3{
    font-size: 19px;
}

.news-v3 h2  {
    color: #006633;
}



.news-v3 h2 {
    font-size: 28px;
    font-weight: 200;
    margin: 0 0 20px;
    line-height: 30px;
    text-transform: uppercase;
}

.light{
    background-color: #fffeef;
}

/*Navbar Menu*/
.header .navbar-nav > li > a {
    color: #006633;
    font-size: 15px;
    font-weight:400;
    text-transform: uppercase;
}

.img-align-center{
    margin: 0 auto;
}

@media screen and (max-width: 990px) {
    .logo_center {
        text-align: center;
    }
}


