<body>
<div class="wrapper">

    {% include directory ~ '/partials/header.html.twig' %}

    <div class="container content">
        {#Status messages and Help Block#}
        {{ page.help }}
        <div class="row margin-bottom-30">
            <div class="col-md-9 mb-margin-bottom-30">
                <div class="headline"><h2>Contact Form</h2></div>
                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas feugiat. Et harum quidem rerum facilis est et expedita distinctio lorem ipsum dolor sit amet, consectetur adipiscing elit landitiis.</p><br>
                {{ page.content }}
            </div><!--/col-md-9-->
            <div class="col-md-3">
                {{ page.sidebar_right }}
            </div>
        </div>
    </div>
</div>


{% include directory ~ '/partials/footer.html.twig' %}


</body>